<div class="container-fluid">
  <!-- content of home -->
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        View All
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            View yourselt
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            Pending
          </div>
        </div>

      </div>
    </div>
    <!-- bar -->
    <!-- <div class="col-sm-4">
      Bar
    </div> -->
  </div>
</div>